@import url('./slider-toggle.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
	--Linear-Gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	/*neutral*/
	--Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
	--Light-Grayish-Blue: hsl(234, 14%, 74%);
	--Grayish-Blue: hsl(233, 13%, 49%);
	--Dark-Grayish-Blue: hsl(232, 13%, 33%);
}
body {
	background-color: var(--Very-Light-Grayish-Blue);
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
	background-repeat: no-repeat, no-repeat;
	background-position-x: right, left;
    background-position-y: 0%, 100%;
}
main {
	position: relative;
}


/*-----------
  SECTION 1
-----------*/
.section1 {
	border: none red;
	padding: 4em 3em 3em 3em;
	width: 100%;
	/*
	background-image: url('../images/bg-top.svg');
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	border: none red;
	z-index: -1;*/
}
.our-pricing {
	font-size: 2em;
	color: var(--Grayish-Blue);
	padding-bottom: 1em;
}
.time-pricing-container {
	display: flex;
	justify-content: center;
	align-items: center;

}
.time-pricing-container div {
	margin: 0em 0.8em;
	color: var(--Light-Grayish-Blue);
}
@media screen and (max-width: 400px) {
	.section1 {
		background-position: 10em 0%;
	}
}

/*-----------
  SECTION 2
-----------*/
.section2 {
	display: flex;
	align-items: center;
	border: none orange;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 3em;
}
.pricing-container {
	border: none red;
	border-radius: 1em;
	padding: 2em;
	text-align: center;
	width: 33.33333%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pricing-container h2 {
	font-size: 1em;
	color: var(--Grayish-Blue);
}
.pricing-container button {
	border-radius: 0.4em;
	padding: 0.5em 0;
	border: none;
}
.list {
	list-style-type: none;
	padding: 0;
}
.list li {
	border-top: solid 1px #dbddf0;
	padding: 1em 0em;
}
.list li:last-child {
	border-bottom: solid 1px #dbddf0;
}
.odd {
	background-color: white;
	box-shadow: 0px 0px 10px #888888;
}
.odd button {
	background: var(--Linear-Gradient);
	color: white;
}
.even {
	background: linear-gradient( hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	color: white;
	height: 27em;
}
.even button {
	color: hsl(237, 63%, 64%);
}
.even h2 {
	color: white;
}
.price {
	font-size: 4em;
	border: none #ee56;
}
.hide {
	display: none;
}
.show {
	display: block;
}

